.stats {
	display: flex;
	background-color: $color-blue;

	&__item {
		flex-grow: 1;
		display: inline-block;
		text-align: center;
		height: 90px;
		overflow: hidden;

		@include desktop {
			height: 120px;
		}
	}

	&__icon,
	&__level {
		display: block;
		color: $color-light-green;
		font-size: 40px;

		@include desktop {
			font-size: 60px;
		}
	}

	&__level {
		color: lighten($color-light-grey, 25%);
		position: relative;
		top: -40px;
		overflow: hidden;
		max-height: 30px;
		transition: max-height 400ms linear;

		@include desktop {
			top: -60px;
		}
	}

	&__change {
		display: block;
		color: lighten($color-light-grey, 25%);
		line-height: 30px;
		font-size: 0;
		transition: font-size 200ms linear;

		&--small {
			font-size: .5em;
		}

		&--big {
			font-size: 1em;
		}

		@include desktop {
			line-height: 45px;
		}
	}
}
