// ----------------------------------------------------------------------
  // Colors
// ----------------------------------------------------------------------

$color-blue: #160F29;
$color-light-brown: #8c7a4f;
$color-lighter-brown: #bda867;
$color-yellow: #f8f5bf;

$color-light-grey: #A9ACA9;
$color-dark-grey: #333333;
$color-cream: #F3DFC1;
$color-green: #246A73;
$color-white: #FFFFFF;
$color-black: #000000;