// ----------------------------------------------------------------------
// Colors
// ----------------------------------------------------------------------

$color-black: #000;
$color-blue: #160f29;
$color-cream: #f3dfc1;
$color-dark-grey: #333;
$color-green: #246a73;
$color-light-brown: #bda867;
$color-light-green: #29a79c;
$color-light-grey: #a9aca9;
$color-white: #fff;
