html,
body {
    height: 100%;
}

body {
	background: $color-light-grey;
	font-family: Helvetica, Arial, sans-serif;
}

#main {
	min-height: 100%;
	height: 100%;
	width: 100%;
	align-items: center;
    display: flex;
    justify-content: center;
}

.container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;

	@include small-desktop {
		display: block;
		width: 500px;		
	}

	@include desktop {
		height: 810px;
	}
}
